[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.*"

[dev-packages]
black = "==24.*"
pylint = "==3.*"
mypy = "==1.*"
pytest = "==8.*"
invoke = "==2.*"
coverage = "==7.*"
python-dotenv = "==1.*"
sqlfluff = "*"

[requires]
python_version = "3.12"
