{% extends 'base.html' %}
{% block header %}
<h1>ClinGen Affiliations Service</h1>
<nav>
    <p>You are logged in as: {{ email }}</p>
    <a href="/logout">Log out</a>
</nav>
{% endblock %}
{% block content %}
{% if not affiliation %}
<p>Not found</p>
{% else %}
<div style="margin-top: 20px;">
    <button style="margin-right: 10px;">Submit</button>
    <a href="/">
        <button>Cancel Edit</button>
    </a>
</div>
<div>
    <h3>ID: {{affiliation.id}}</h3>
</div>
<form>
    <div>
        <div>
            <label>Name:</label>
            <input type="text" value="{{affiliation.name}}" placeholder="Name" />
        </div>
        <div>
            <label>Status: {{affiliation.status}}</label>
            <select>
                <option>Active</option>
                <option>Pending</option>
                <option>Retired</option>
            </select>
        </div>
        <div>
            <label>Coordinator:</label>
            <input type="text" value="{{affiliation.coordinator}}" placeholder="Name" />
        </div>
        <div>
            <label>Coordinator Email:</label>
            <input type="text" value="{{affiliation.coordinator_email}}" placeholder="user@example.com" />
        </div>
        <div>
            <label>Family:</label>
            <input type="text" value="{{affiliation.family}}" placeholder="Family" />
        </div>
        <div>
            <label>Type:</label>
            <select>
                <option>Expert Panel</option>
                <option>Working Group</option>
                <option>Clinical Domain Working Group</option>
            </select>
        </div>
    </div>
    <div>
        <label>Members:</label>
        <textarea rows="5" cols="100"
            placeholder="Name One&#10;Name Two">{{'\n'.join(affiliation.members)|safe}}</textarea>
    </div>
    <div>
        <label>Approvers:</label>
        <textarea rows="5" cols="100"
            placeholder="Name One&#10;Name Two">{{'\n'.join(affiliation.approvers)|safe}}</textarea>
    </div>
    <div>
        <label>ClinVar Submitter IDs:</label>
        <textarea rows="5" cols="100"
            placeholder="001&#10;002">{{'\n'.join(affiliation.clinvar_submitter_ids)|safe}}</textarea>
    </div>
</form>
{% endif %}
{% endblock %}