{% extends 'base.html' %}
{% block header %}
<h1>ClinGen Affiliations Service</h1>
<nav>
    <p>You are logged in as: {{ email }}</p>
    <a href="/logout">Log out</a>
</nav>
{% endblock %}
{% block content %}
{% if not affiliation %}
<p>Not found</p>
{% else %}
<div style="margin-top: 20px;">
    <a href="/">
        <button>Back</button>
    </a>
</div>
<form action="/edit/{{affiliation.id}}" method="post">
    <fieldset>
        <button style="margin-right: 10px;">Submit</button>
        <div>
            <h3>ID: {{affiliation.id}}</h3>
        </div>
        <div>
            <div>
                <label>Name:</label>
                <input name="name" type="text" value="{{affiliation.name}}" placeholder="Name" />
            </div>
            <div>
                <label>Status:</label>
                <select name="status">
                    {% if affiliation.status == "Active" %}
                    <option  selected>Active</option>
                    {% else %}
                    <option>Active</option>
                    {% endif %}
                    {% if affiliation.status == "Pending" %}
                    <option  selected>Pending</option>
                    {% else %}
                    <option>Pending</option>
                    {% endif %}
                    {% if affiliation.status == "Retired" %}
                    <option  selected>Retired</option>
                    {% else %}
                    <option>Retired</option>
                    {% endif %}
                </select>

            </div>
            <div>
                <label>Coordinator:</label>
                <input name="coordinator" type="text" value="{{affiliation.coordinator}}" placeholder="Name" />
            </div>
            <div>
                <label>Coordinator Email:</label>
                <input name="coordinator_email" type="text" value="{{affiliation.coordinator_email}}"
                    placeholder="user@example.com" />
            </div>
            <div>
                <label>Family:</label>
                <input name="family" type="text" value="{{affiliation.family}}" placeholder="Family" />
            </div>
            <div>
                <label>Type:</label>
                <select name="type">
                    {% if affiliation.type == "Expert Panel" %}
                    <option  selected>Expert Panel</option>
                    {% else %}
                    <option>Expert Panel</option>
                    {% endif %}
                    {% if affiliation.type == "Working Group" %}
                    <option  selected>Working Group</option>
                    {% else %}
                    <option>Working Group</option>
                    {% endif %}
                    {% if affiliation.type == "Clinical Domain Working Group" %}
                    <option  selected>Clinical Domain Working Group</option>
                    {% else %}
                    <option>Clinical Domain Working Group</option>
                    {% endif %}

                </select>
            </div>
        </div>
        <div>
            <label>Members:</label>
            <textarea name="members" rows="5" cols="100"
                placeholder="Name One&#10;Name Two">{{affiliation.members}}</textarea>
        </div>
        <div>
            <label>Approvers:</label>
            <textarea name="approvers" rows="5" cols="100"
                placeholder="Name One&#10;Name Two">{{affiliation.approvers}}</textarea>
        </div>
        <div>
            <label>ClinVar Submitter IDs:</label>
            <textarea name="clinvar_submitter_ids" rows="5" cols="100"
                placeholder="001&#10;002">{{affiliation.clinvar_submitter_ids}}</textarea>
        </div>
    </fieldset>
</form>
{% endif %}
{% endblock %}