{% extends 'base.html' %}
{% block header %}
<h1>ClinGen Affiliations Service</h1>
<nav>
    {% if email %}
    <p>You are logged in as: {{ email }}</p>
    <a href="/logout">Log out</a>
    {% else %}
    <a href="/login">Log in</a>
    <a href="/signup">Sign up</a>
    {% endif %}
</nav>
{% endblock %}
{% block content %}
<div>
    <table>
        <thead>
            <tr>
                <th>Links</th>
                <th>ID</th>
                <th>Name</th>
                <th>Coordinator</th>
                <th>Coordinator Email</th>
                <th>Status</th>
                <th>Type</th>
                <th>Family</th>
                <th>Members</th>
                <th>Approvers</th>
                <th>ClinVar Submitter IDs</th>
            </tr>
        </thead>
        <tbody>
            {% for affiliation in affiliations %}
            <tr>
                <td>
                    <a href="/edit/{{affiliation.id}}">
                        <button class="edit-button">Edit</button>
                    </a>
                    <a href="/affiliation/{{ affiliation.id }}">
                        <button class="view-button">View</button>
                    </a>
                </td>
                <td>{{ affiliation.id }}</td>
                <td>{{ affiliation.name }}</td>
                <td>{{ affiliation.coordinator if affiliation.coordinator else "None" }}</td>
                <td>{{ affiliation.coordinator_email if affiliation.coordinator_email else "None" }}</td>
                <td>{{ affiliation.status }}</td>
                <td>{{ affiliation.type if affiliation.type else "None" }}</td>
                <td>{{ affiliation.family if affiliation.family else "None" }}</td>
                <td>{{ affiliation.members if affiliation.members else "None" }}</td>
                <td>{{ affiliation.approvers if affiliation.approvers else "None" }}</td>
                <td>{{ affiliation.clinvar_submitter_ids if affiliation.clinvar_submitter_ids else "None" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}