{% extends 'base.html' %}
{% block header %}
    <h1>ClinGen Affiliations Service</h1>
    <nav>
        <a href="/">Home</a>
    </nav>
{% endblock %}
{% block content %}
    <p>
        To sign up for the ClinGen Affiliations Service, go to
        <a target="_blank" rel="noopener noreferrer" href="https://curation.clinicalgenome.org/">curation.clinicalgenome.org</a>,
        and create an account there. Then use the login you created
        <a href="/login">here</a>.
    </p>
{% endblock %}
